In [7]:
import pandas as pd
import xarray as xr
import numpy as np
import time
import netCDF4 as nc

In [47]:
with open("stations.txt", "r") as f:
    station_files = [line.strip() for line in f if line.strip()]

station_files

['AkkaertSouthwestBuoy',
 'WaddenEierlandseGat',
 'DeutscheBuchtBuoy',
 'Fanoebugt',
 'KeetenBoei',
 'MaeslantkeringZeezijdeNoordMeetpaal',
 'NorderneyBuoy',
 'Nymindegab',
 'OverloopVanValkenisse',
 'StortemelkOost',
 'RyeBayDWR',
 'SandownPierTG',
 'SwanagePierTG']

In [ ]:
obs_fldr = 'raw-data/observations'

'raw-data/observations'

In [48]:
with open("output.txt", "r") as f:
    file_names = [line.strip() for line in f if line.strip()]
file_names[0:3]

['INSITU_GLO_PHYBGCWAV_DISCRETE_MYNRT_013_030/cmems_obs-ins_glo_phybgcwav_mynrt_na_irr_202311/monthly/MO/202401/NO_TS_MO_AkkaertSouthwestBuoy_202401.nc',
 'INSITU_GLO_PHYBGCWAV_DISCRETE_MYNRT_013_030/cmems_obs-ins_glo_phybgcwav_mynrt_na_irr_202311/monthly/MO/202402/NO_TS_MO_AkkaertSouthwestBuoy_202402.nc',
 'INSITU_GLO_PHYBGCWAV_DISCRETE_MYNRT_013_030/cmems_obs-ins_glo_phybgcwav_mynrt_na_irr_202311/monthly/MO/202403/NO_TS_MO_AkkaertSouthwestBuoy_202403.nc']

In [23]:
import os
name = file_names[0]
name

'INSITU_GLO_PHYBGCWAV_DISCRETE_MYNRT_013_030/cmems_obs-ins_glo_phybgcwav_mynrt_na_irr_202311/monthly/MO/202401/NO_TS_MO_AkkaertSouthwestBuoy_202401.nc'

In [ ]:

filename = os.path.basename(name)
print(filename)

ds = xr.open_dataset(os.path.join(obs_fldr, filename))

NO_TS_MO_AkkaertSouthwestBuoy_202401.nc

In [57]:
station_files[0:1]

['AkkaertSouthwestBuoy']

In [ ]:

for station in station_files:
    stations_data = []

    for name in file_names:
        if station in name:
            # Load the NetCDF file
            basename = os.path.basename(name)
            ds = xr.open_dataset(os.path.join(obs_fldr, basename))

            # Convert to dataframe
            df = ds.to_dataframe().reset_index()

            # Extract the wanted variables
            df = df[['TIME', 'VHM0']].copy()
            df = df.dropna()

            stations_data.append(df)

    # Convert to csv
    full_df = pd.concat(stations_data)
    full_df.to_csv(f"../observations/{station}.csv", index=False)
    print(f"Saved {station}.csv")

Saved AkkaertSouthwestBuoy.csv
Saved WaddenEierlandseGat.csv
Saved DeutscheBuchtBuoy.csv
Saved Fanoebugt.csv

In [77]:
full_df

                    TIME  VHM0
0    2024-01-01 00:00:00  2.41
2    2024-01-01 00:30:00  2.31
4    2024-01-01 01:00:00  2.35
6    2024-01-01 01:30:00  2.34
8    2024-01-01 02:00:00  2.31
...                  ...   ...
2774 2024-02-29 21:30:00  0.73
2776 2024-02-29 22:00:00  0.76
2778 2024-02-29 22:30:00  0.69
2780 2024-02-29 23:00:00  0.72
2782 2024-02-29 23:30:00  0.91

[2875 rows x 2 columns]

In [75]:
df.head()

                 TIME  VHM0
0 2024-02-01 00:00:00  1.79
2 2024-02-01 00:30:00  1.74
4 2024-02-01 01:00:00  1.46
6 2024-02-01 01:30:00  1.34
8 2024-02-01 02:00:00  1.26

In [51]:
station_df = pd.DataFrame(stations_data)
station_df.head()

                                                time        station
0  0      2024-01-01 00:00:00
1      2024-01-01 0...  SwanagePierTG
1  0      2024-02-01 00:00:00
1      2024-02-01 0...  SwanagePierTG
2  0      2024-03-01 00:00:00
1      2024-03-01 0...  SwanagePierTG
3  0      2024-04-01 00:00:00
1      2024-04-01 0...  SwanagePierTG
4  0     2024-05-31 00:00:00
1     2024-05-31 00:...  SwanagePierTG

In [40]:
# Convert to DataFrame and reset index
df = ds.to_dataframe()
df

,,TIME_QC,DEPH,LATITUDE,LONGITUDE,STATION,VTPK,VTPK_QC,VTM02,VTM02_QC,VZMX,VZMX_QC,SLEV,SLEV_QC,VHM0,VHM0_QC
TIME,DEPTH,,,,,,,,,,,,,,,
2024-12-01 00:00:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',3.88,1.0,3.61,1.0,0.628,1.0,2.011,1.0,0.258,1.0
2024-12-01 00:10:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',NaN,9.0,NaN,9.0,NaN,9.0,1.992,1.0,NaN,9.0
2024-12-01 00:20:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',NaN,9.0,NaN,9.0,NaN,9.0,2.003,1.0,NaN,9.0
2024-12-01 00:30:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',4.00,1.0,3.46,1.0,0.521,1.0,1.990,1.0,0.271,1.0
2024-12-01 00:40:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',NaN,9.0,NaN,9.0,NaN,9.0,1.980,1.0,NaN,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-27 13:20:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',NaN,9.0,NaN,9.0,NaN,9.0,1.154,1.0,NaN,9.0
2024-12-27 13:30:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',NaN,9.0,NaN,9.0,NaN,9.0,1.146,1.0,NaN,9.0
2024-12-27 13:40:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',NaN,9.0,NaN,9.0,NaN,9.0,1.177,1.0,NaN,9.0
2024-12-27 13:50:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',NaN,9.0,NaN,9.0,NaN,9.0,1.182,1.0,NaN,9.0
2024-12-27 14:00:00,0,1,0.0,50.609333,-1.949177,b'SwanagePierTG',NaN,9.0,NaN,9.0,NaN,9.0,1.215,1.0,NaN,9.0

In [38]:
df['TIME']

0      2024-12-01 00:00:00
1      2024-12-01 00:10:00
2      2024-12-01 00:20:00
3      2024-12-01 00:30:00
4      2024-12-01 00:40:00
               ...
3810   2024-12-27 13:20:00
3811   2024-12-27 13:30:00
3812   2024-12-27 13:40:00
3813   2024-12-27 13:50:00
3814   2024-12-27 14:00:00
Name: TIME, Length: 3815, dtype: datetime64[ns]

In [ ]:

station_df = pd.DataFrame(stations_data)
station_df

In [ ]:
ds = xr.open_dataset()

In [ ]:
obs_dir = [f"{obs_fldr}NWTideA.2022.06.QC_dataReturn.Rev0.nc"]